#### DOCKER Rigistry ####
DOCKER_REGISTRY=docker_rigistry_host
DOCKER_USER=user
DOCKER_PASSWORD=pwd

#### DB ####
DB_HOST=db-host
DB_USERNAME=db-username
DB_PASSWORD=db-password
DB_DATABASE=db-database
ASSETS=https://assets1.com/file
